<div class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>{{ isEdit ? 'Editar Escola' : 'Nova Escola' }}</h3>
            <button (click)="close()">✕</button>
        </div>

        <form (ngSubmit)="save()">
            <label for="name">Nome da escola</label>
            <input type="text" [(ngModel)]="localSchool.name" name="name" placeholder="Nome da Escola" required />
            
            <label for="director">Diretor(a)</label>
            <input type="text" [(ngModel)]="localSchool.director" name="director" placeholder="Diretor(a)" />
            
            <label for="address">Endereço</label>
            <input type="text" [(ngModel)]="localSchool.address" name="address" placeholder="Endereço" />
            
            <label for="phone">Telefone</label>
            <input type="text" [(ngModel)]="localSchool.phone" name="phone" placeholder="Telefone" />
            
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="localSchool.email" name="email" placeholder="Email" />

            <label for="students">Número de Alunos</label>
            <input type="number" [(ngModel)]="localSchool.students" name="students" placeholder="Número de Alunos" />
            
            <label for="classesCount">Número de Turmas</label>
            <input type="number" [(ngModel)]="localSchool.classesCount" name="classesCount"
                placeholder="Número de Turmas" />

            <div class="form-actions">
                <button type="submit" class="btn-primary">{{ isEdit ? 'Atualizar' : 'Cadastrar' }}</button>
                <button type="button" class="btn-secondary" (click)="close()">Cancelar</button>
            </div>
        </form>
    </div>
</div>